@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

/* * {
  font-family: "Vazir", sans-serif !important;
} */
* {
  font-family: "Josefin Sans", cursive;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.home-screen {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.home-screen-left {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.game-options {
  flex: 1;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.play-button {
  flex: 1;
  justify-content: center;
  text-align: left;
}

.leaderboard {
  flex: 1;
  justify-content: center;
}

.logged-in-icon,
.title-arrow {
  transform: scale(1.3);
}

.home-header {
  display: flex;
  align-items: center;
  font-size: 2.8em;
}

.select-leaderboard {
  background-color: rgb(18, 60, 102);
}

.deselect-leaderboard {
  background-color: rgb(161, 183, 206);
}

.select-leaderboard:hover,
.deselect-leaderboard:hover {
  background: slategray;
  cursor: pointer;
}

.navbar {
  display: flex;
  padding: 1.3em;
  align-items: center;
  background-color: wheat;
}

.login-div,
.logged-in-div {
  margin-right: 5em;
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* Game screen styles */
.options-panel {
  display: flex;
}

.left-option,
.right-option {
  flex: 1;
  justify-content: center;
  text-align: center;
}

.game-screen {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: 100%;
}

img {
  max-height: 22rem;
  width: auto;
  max-width: 95%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: flag-entry 0.5s ease-in-out;
}

@keyframes flag-entry {
  from {
    opacity: 10%;
  }
  to {
    opacity: 100%;
  }
}

.low-time {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  from {
    opacity: 100%;
    color: darkred;
  }
  to {
    opacity: 80%;
    color: rgb(218, 53, 24);
  }
}

Dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.higher-lower-buttons {
  margin-top: 10px;
  justify-content: center;
}

.higher-button,
.lower-button {
  margin-right: 5px;
  height: 3.5em;
  width: 7em;
}

.footer {
  position: absolute;
  bottom: 0px;
}

.volume {
  transform: scale(1.5);
}

.volume:hover,
.home-button:hover {
  cursor: pointer;
  transform: scale(1.8);
}

.restart-button {
  height: 3em;
}

.restart-icon {
  transform: scale(1.2);
}

.restart-button:hover .restart-icon {
  animation: restart-rotate 1s linear;
}

@keyframes restart-rotate {
  from {
    transform: rotate(0deg) scale(1.2);
  }
  to {
    transform: rotate(-360deg) scale(1.2);
  }
}

.home-button {
  transform: scale(1.6);
  color: black;
}
