@import url("https://fonts.googleapis.com/css?family=Josefin+Sans");

/* * {
  font-family: "Vazir", sans-serif !important;
} */
* {
  font-family: "Josefin Sans", cursive;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.home-screen {
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logged-in-icon {
  transform: scale(1.3);
}

.home-header {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  padding: 2em;
  align-items: center;
  background-color: wheat;
}

.login-div,
.logged-in-div {
  margin-right: 5em;
  margin-left: auto;
  display: flex;
  align-items: center;
}

/* Game screen styles */
.options-panel {
  display: flex;
}

.left-option,
.right-option {
  flex: 1;
  justify-content: center;
  text-align: center;
}

.game-screen {
  padding: 10px;
}

img {
  height: 400px;
  max-width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

Dialog {
  display: flex;
  justify-content: center;
  align-items: center;
}

.higher-lower-buttons {
  margin-top: 10px;
  justify-content: center;
}

.higher-button,
.lower-button {
  margin-right: 5px;
  height: 3.5em;
  width: 7em;
}

.footer {
  margin-top: auto;
  flex-shrink: 0;
}
